.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid grey;
    font-size: 13px;
    
   

}
.list-table-format.title{
  background-color:#00630c;
  color: white;
  
}
.list-table-format img{
    width: 50px;
}

@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
    
}