.explore-prod{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.explore-prod h1{
    color:#c57833;
    font-weight:bold;

}
.explore-prod-text{
    max-width: 60%;
    columns: #808080;
    line-height: 30px;

}
.explore-prod-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-prod-list::-webkit-scrollbar{
    display: none;
}
.explore-prod-list-item img{
    width: 10vw;
    min-width: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;

}
.explore-prod-list-item p{
    margin-top: 10px;
    color:black;
    cursor: pointer;
    font-weight: 550;
    font-size: max(1.4vw,16px);


}
.explore-prod-list-item .active{
    border: 4px solid #00630c;
    padding: 2px;
    
}
@media (max-width:1050px) {
   .explore-prod-text{
    max-width: 100%;
    font-size: 14px;
   }
    
}




